* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
	font-size: 100%;
}

body {
	background-color: rgb(214, 214, 214);
	display: flex;
	justify-content: center;
	align-content: center;
}

.calculator {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 21rem;
	height: 31rem;
	padding: 2rem;
	margin-top: 4.5rem;
	border-radius: 0.6rem;
	background-color: rgb(214, 214, 214);
	box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
}

#ansDisplay {
	border: none;
	outline: none;
	margin: auto;
	color: black;
	font-weight: bold;
	margin-bottom: 0.5rem;
	background: transparent;
	box-shadow: inset 2px 2px 5px #babecc, inset -2px -2px 5px #ffffff;
	text-align: right;
	line-height: 4rem;
	width: 16.3rem;
	font-size: 1.6rem;
	padding: 5px 0px;
	padding-right: 14px;
}

.btns {
	width: 16.5rem;
	height: 22rem;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: flex-end;
	align-items: end;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	border-radius: 6px;
	display: inline-block;
	background-color: rgb(214, 214, 214);
	box-shadow: 2px 1px 2px #b6acac, -2px -1px 2px #faf4f4;
	margin: 5px 5.5px;
}

.simpleCalcTopBtns {
	width: 3.5rem;
	height: 2rem;
	font-size: 16px;
	font-weight: bolder;
	margin-top: 21px;
	line-height: 2rem;
	transition: all 0.7s;
}

#del {
	transition: width 0.7s;
}

.simpleCalcBtns {
	width: 3.5rem;
	height: 3rem;
	font-size: 18px;
	font-weight: bolder;
	line-height: 3rem;
	transition: all 0.7s;
}

.smallBtns {
	width: 2.65rem;
	height: 2rem;
	font-size: 10px;
	font-weight: bolder;
	line-height: 2rem;
	transition: all 0.7s;
}

button:active {
	box-shadow: none;
	box-shadow: inset 2px 2px 2px #babecc, inset -2px -2px 2px #ffffff;
}

.hidden {
	width: 2.65rem;
	height: 2rem;
	font-size: 10px;
	font-weight: bolder;
	line-height: 2rem;
}

.smallFont {
	font-size: 9px;
	line-height: normal;
	transition: all 0.7s;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #fff;
	border-radius: 6px;
	width: 38.75rem;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.close-button {
	padding: 0.1rem 1rem;
	padding-bottom: 0.2rem;
	font-size: 1.5rem;
	color: #ccc;
	border: 2px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	display: inline;
}

.close-button:hover {
	background-color: #ccc;
	color: white;
}

.settings-panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 31.25rem;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.57rem;
}

.setting > span {
    flex-grow: 1;
	text-align: left;
}

.toggle {
    width: 2.5rem;
    height: 1.25rem;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle::after {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.toggle.active {
    background-color: #4caf50;
}

.toggle.active::after {
    left: 1.375rem;
}

.precision-control {
    display: flex;
    align-items: center;
}

.precision-button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 4px;
    user-select: none;
}

.precision-button:hover {
    background-color: #bbb;
}

#precision-value {
    width: 1.5rem;
	margin: 0 4px;
    text-align: center;
}

.historyActive {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),inset 0px -3px 5px #ffffff;
	display: block;
	overflow: auto;
	max-width: 16.5rem;
	max-height: 22rem;
}

.topButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	gap: 10px;
}

.histBtns {
	padding: 8px;
	border: 1px solid #4e4d4d;
	border-radius: 3px;
	text-align: center;
}

.histBtns:first-child {
	flex-grow: 1;
}

.histBtns:last-child {
	flex-grow: 2;
}

.histBtns:hover {
	cursor: pointer;
	background-color: #ccc;
}

.rows {
	width: 100%;
	padding: 5px 8px;
	border: 1px solid #4e4d4d;
	border-radius: 4px;
	margin-bottom: 10px;
	overflow: auto;
}

.rows:hover {
	cursor: pointer;
	background-color: #ccc;
}

.expression {
	font-size: 1rem;
	font-weight: 300;
}

.answer {
	font-size: 1.4rem;
	font-weight: 800;
}

@media screen and (min-width: 567px) {
	.modal-content {
		padding: 20px;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 97%;
	}

	.modal-content {
		width: 23rem;
	}

	.modal-content {
		padding: 10px;
	}

	.close-button {
		font-size: 0.9rem;
		margin-bottom: 0.1rem;
	}

	.settings-panel {
		width: 18.5rem;
		padding: 15px;
	}

	.setting > span {
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 380px) {
	html {
		font-size: 90%;
	}

	.modal-content {
		width: 22.5rem;
		padding: 10px;
	}

	.simpleCalcBtns {
		width: 3.45rem;
		height: 3rem;
	}

	.simpleCalcTopBtns {
		width: 3.45rem;
		height: 2rem;
	}

	.smallBtns {
		width: 2.6rem;
		height: 2rem;
	}

	.hidden {
		width: 2.6rem;
		height: 2rem;
	}

	.close-button {
		font-size: 0.9rem;
		margin-bottom: 0.1rem;
	}

	.settings-panel {
		width: 17.5rem;
		padding: 10px;
	}

	.setting > span {
		font-size: 0.6rem;
	}
}

@media screen and (max-width: 350px) {
	.simpleCalcBtns {
		width: 3.4rem;
		height: 3rem;
	}

	.simpleCalcTopBtns {
		width: 3.4rem;
		height: 2rem;
	}

	.smallBtns {
		width: 2.5rem;
		height: 1.9rem;
	}

	.hidden {
		width: 2.5rem;
		height: 1.9rem;
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 78%;
	}
}